h1{
    color: rgb(167, 7, 7);
    font-weight: 500;
}
h1:hover{
    color: rgb(14, 195, 83);

}
body{
    background-color: bisque;
}
a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
}
a:viseted{
    color:red
}
#footer-text {
    color: red;
    text-align: center;
    
}