
body{
    background-color:#FEF3E2;
}

h2{
    color: blueviolet;
    text-align: center;
}
h2:hover{
    color:red;

}
a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
}
a:viseted{
    color:red
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
#footer-text {
    color: red;
    text-align: center;
    
}