h1{

    color: rgb(167, 7, 7);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size:x-large;
    padding: 20px;
}
h1:hover{
    color: rgb(21, 184, 46);

}
h2{
    color: blueviolet;
}
h2:hover{
    color:red;

}
body{
    background-color:#FEF3E2;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
#footer-text {
    color: red;
    text-align: center;
    
}