h1{
    color: rgb(167, 7, 7);
    font-weight: 500;
}
h1:hover{
    color: rgb(14, 195, 83);

}
h2{
    color: blueviolet;
}
h2:hover{
    color: rgb(14, 195, 83);

}
body{
    background-color:#FEF3E2;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}