
body{
    background-color: #FEF3E2;
}

h1{
    color: red;
    padding: 20px;
    text-align: center;
    width: 20%;
     font-weight: 300px;
     font-style: oblique;
}
p{
    font-style: italic;
   
}

label{
    color: black;
    text-align: center;
    font-weight: 200;
    font-style: inherit;

}
