
body{
    background-color: bisque;
    font-family: 'roboto' sans-serif;
    
}
a,
li{
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-right: 20px;
}
a:viseted{
    color:red
}
footer p {
    text-align: center;
    padding: 2px ;
    background-color: #C96868;
    color: #FFFFFF;
    margin-top: 2px;
    font-size: 0.9rem;
}